body{
    background-color: rgb(121, 120, 114);
}

#profilbild {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

ul li {
    color: rgb(0, 0, 0);
    
}

ol li {
    color: rgb(0, 0, 0);
    Punkterna togs bort
}

a:hover {
    color: rgb(46, 38, 24);
}

a {
    color: rgb(68, 68, 97);
}

.cv-section {
    border: 2px rgb(78, 78, 73);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}